# Ignore virtual environment
venv/
.venv/

# Ignore environment variables file
.env

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore flask specific files
instance/
*.db

# Ignore large data files
backend/data/

*.pkl
*.h5
*.zip
*.pt
